<html>
    <head>
        <link rel="stylesheet" href="./static/style.css">
        <title>大大大優惠</title>
    </head>
    <body>
        <p></p>
        <div class="main">
            <div class="header" style="background-color: blue; margin: 20px;">
                
                <section style="background-color: black;"></section>
                <div class="bar" style="background-color: #fff;">
                    <img style="width: 64px; margin: 15px;" src="https://play-lh.googleusercontent.com/vrbEQoDZNLFvPqyct5kG5SBTvFvFG5Ior9RE680BN0l0PqnJVqfpd2K_9EgNCniACA" alt="">
                    <form action="/search">
                        <input type="text">
                        <button >
                            <img style="width: 16px;" src="https://cdn-icons-png.flaticon.com/512/3917/3917754.png" alt="">
                        </button>
                    </form>
                </div>
            </div>
            <div class="content" style="background-color: green;">
                <img src="static/2.jpg" alt="">
                123
            </div>
            <div class="footer" style="background-color: #fff;">
                123
            </div>
        </div>
    </body>
</html>