<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>navbar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/css/all.min.css">
    <link rel="stylesheet" href="./static/style.css">
</head>

<body>
    <div class="navbar">
        <div class="container">
            <div class="logo">
                <a href="#">
                    <i class="fas fa-music"></i>MusicIsGood
                </a>
            </div>

            <ul class="menu">
                <li><a href="#" target="_blank">華語</a></li>
                <li><a href="#" target="_blank">西洋</a></li>
                <li><a href="#" target="_blank">東洋</a></li>
                <li><a href="#" target="_blank">鄉村</a></li>
            </ul>

        </div>
    </div>
</body>

</html> -->

<html>
    <head>
        <link rel="stylesheet" href="./static/style.css">
        <title>大大大優惠</title>
    </head>
    <body>
        <p></p>
        <div class="main">
            <div class="header" style="background-color: rgb(177, 177, 250); margin: 20px;">
                <div class="navbar">
                    <div class="container">
                        <div class="logo">
                            <a href="#">
                                <i class="fas fa-music"></i>歡迎來到蝦寶拍賣
                            </a>
                        </div>
                        <div class="account">
                            <a href="">登錄</a>
                            <a href="">註冊</a>
                        </div>
                        
                        
                        <ul class="menu">
                            <li><a href="#" target="_blank">男性</a></li>
                            <li><a href="#" target="_blank">女性</a></li>
                            <li><a href="#" target="_blank">3C</a></li>
                        </ul>
            
                    </div>
                </div>
            </div>
            <div class="content">
                <table>
                    <tr>
                        <td><img src="./static/2.jpg" alt=""><a href="">Production1</a></td>
                        <td><img src="./static/2.jpg" alt=""><a href="">Production2</a></td>
                        <td><img src="./static/2.jpg" alt=""><a href="">Production3</a></td>
                    </tr>
                    <tr>
                        <td><img src="./static/2.jpg" alt=""><a href="">Production4</a></td>
                        <td><img src="./static/2.jpg" alt=""><a href="">Production5</a></td>
                        <td><img src="./static/2.jpg" alt=""><a href="">Production6</a></td>
                    </tr>
                </table>
            </div>
            <div class="footer" style="background-color: #fff;">
                <li>Contant US</li>
                <li>About US</li>
                <li>Help</li>
            </div>
        </div>
    </body>
</html>